# Ignorar ambiente virtual
venv/

# Ignorar arquivos compilados Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignorar arquivos de ambiente
.env

# Ignorar arquivos do sistema (Windows)
Thumbs.db
.DS_Store
# Flask instance folder
instance/

# Arquivos de banco de dados SQLite
*.db
# Python
backend-flask/__pycache__/
backend-flask/instance/
backend-flask/database.db

# Node.js
backend-nodejs/node_modules/
